* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.sticky-top {
  z-index: 2; }

footer {
  height: 8vh; }

main {
  min-height: 92vh; }

.navbar-dark .navbar-nav .nav-link {
  color: #f7f7f8; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #d44747;
  transition: 1s; }

.navbar-brand:hover {
  opacity: .4;
  transition: 1s; }

.menu-img {
  width: 80%; }

@media (min-width: 1400px) {
  nav ul li a {
    font-size: 14px; } }

.section2 h2, .section3 h2 {
  text-align: center;
  color: #221E31;
  padding-top: 20px;
  text-transform: uppercase; }

.section2 .gifs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .section2 .gifs .gifs__models {
    padding: 40px 30px;
    width: 300px; }

.section3 h2 {
  padding-top: 20px;
  padding-bottom: 20px; }

.section3 h3 {
  text-align: center;
  font-size: 15px; }

.section3 p {
  font-size: 13px; }

.section3 .destacados {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 10px; }
  .section3 .destacados img {
    border-radius: 20px;
    width: 80%; }
  .section3 .destacados .destacados__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .section3 .destacados .destacados__img h3 {
      padding-top: 20px;
      color: #221E31; }
    .section3 .destacados .destacados__img img:hover {
      opacity: .5;
      transition: .5s; }

.slid-mobile {
  display: none; }

@media (max-width: 858px) {
  /* index */
  .slid-desk {
    display: none; }
  .slid-mobile {
    display: block; }
  .gifs .gifs__models {
    width: 350px; }
  .section3 .destacados {
    grid-template-columns: repeat(1, 2fr); }
  .menu-img {
    width: 22%; } }

footer {
  border-top: solid 3px #dc3545;
  height: 8vh; }

.txt-foot {
  font-size: 10px; }

.ropa h4 {
  color: #221E31;
  text-align: center;
  text-transform: uppercase; }

.ropa .ropaGaleria {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .ropa .ropaGaleria img {
    border-radius: 15px;
    width: 100%; }
  .ropa .ropaGaleria h3 {
    padding-top: 20px;
    color: #221E31;
    font-size: 15px; }
  .ropa .ropaGaleria p {
    font-size: 13px;
    color: #1A1821; }
  .ropa .ropaGaleria .ropaGaleria__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .ropa .ropaGaleria .ropaGaleria__img a:hover {
      opacity: .5;
      transition: .5s; }

@media (max-width: 858px) {
  .ropa .ropaGaleria {
    grid-template-columns: repeat(1, 2fr); } }

.zapatillasSlider img {
  width: 100%;
  height: max-content; }

.zapatillasSliderMob img {
  width: 100%;
  text-align: center;
  display: none; }

.zapatillas h4 {
  padding: 20px 20px;
  text-align: center;
  color: #221E31;
  text-transform: uppercase; }

.zapatillas .zapatillasGaleria {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .zapatillas .zapatillasGaleria img {
    border-radius: 15px;
    width: 100%; }
  .zapatillas .zapatillasGaleria h3 {
    padding-top: 20px;
    color: #221E31;
    font-size: 15px; }
  .zapatillas .zapatillasGaleria p {
    font-size: 13PX;
    color: #1A1821; }
  .zapatillas .zapatillasGaleria .zapatillasGaleria__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .zapatillas .zapatillasGaleria .zapatillasGaleria__img img:hover {
      opacity: .5;
      transition: .5s;
      cursor: pointer; }

@media (max-width: 858px) {
  .zapatillasGaleria {
    grid-template-columns: repeat(1, 2fr); }
    .zapatillasGaleria h3 {
      font-size: 20px; }
    .zapatillasGaleria p {
      font-size: 18px; }
  .zapatillasSlider {
    display: none; }
  .zapatillasSliderMob img {
    padding: 1px 0;
    display: block; } }

.bg {
  background-image: url(../img/astronauta.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.adidas h6 {
  color: #221E31;
  text-align: center;
  text-transform: uppercase; }

.adidas .adidasGaleria {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .adidas .adidasGaleria img {
    border-radius: 10px;
    width: 100%; }
  .adidas .adidasGaleria h3 {
    padding-top: 20px;
    color: #221E31;
    font-size: 15px; }
  .adidas .adidasGaleria p {
    font-size: 13px;
    color: #1A1821; }
  .adidas .adidasGaleria .adidasGaleria__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .adidas .adidasGaleria .adidasGaleria__img a:hover {
      opacity: .5;
      transition: .5s; }

@media (max-width: 858px) {
  .adidas .adidasGaleria {
    grid-template-columns: repeat(1, 2fr); } }

.reebok h6 {
  color: #221E31;
  text-align: center;
  text-transform: uppercase; }

.reebok .reebokGaleria {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .reebok .reebokGaleria img {
    border-radius: 10px;
    width: 100%; }
  .reebok .reebokGaleria h3 {
    padding-top: 20px;
    color: #221E31;
    font-size: 15px; }
  .reebok .reebokGaleria p {
    font-size: 13px;
    color: #1A1821; }
  .reebok .reebokGaleria .reebokGaleria__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .reebok .reebokGaleria .reebokGaleria__img a:hover {
      opacity: .5;
      transition: .5s; }

@media (max-width: 858px) {
  .reebok .reebokGaleria {
    grid-template-columns: repeat(1, 2fr); } }

.nike h6 {
  color: #221E31;
  text-align: center;
  text-transform: uppercase; }

.nike .nikeGaleria {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  .nike .nikeGaleria img {
    border-radius: 15px;
    width: 100%; }
  .nike .nikeGaleria h3 {
    padding-top: 20px;
    color: #221E31;
    font-size: 15px; }
  .nike .nikeGaleria p {
    font-size: 13px;
    color: #1A1821; }
  .nike .nikeGaleria .nikeGaleria__img {
    text-align: center;
    border-radius: 10px;
    padding: 5px; }
    .nike .nikeGaleria .nikeGaleria__img a:hover {
      opacity: .5;
      transition: .5s; }

@media (max-width: 858px) {
  .nike .nikeGaleria {
    grid-template-columns: repeat(1, 2fr); } }
