%TITULOS{
    text-align: center;
    color: $colorH ;
    padding-top: 20px;
    text-transform: uppercase;
}
%TITULOSH5{
    text-align: center;
    color: $colorH ;
    text-transform: uppercase;
}
