.adidas{
    h6{
    color:$colorH;
    text-align: center;
    text-transform: uppercase;
    }
    .adidasGaleria{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap: 10px;
        img{
            border-radius: 10px;
            width: 100%;
        }
        h3{
            padding-top: 20px;
            color:$colorH;
            font-size: 15px;
        }
        p{
            font-size: 13px;
            color:$colorP;
        }
        // cards adidas
        .adidasGaleria__img{
            text-align: center;
            border-radius: 10px;
            padding: 5px;
            a:hover{
                opacity: .5;
                transition: .5s; 
            }
        }
    }
}
@media (max-width:858px) {
    .adidas{
        .adidasGaleria{
            grid-template-columns:repeat(1, 2fr);
        }
    }
    
}









   