// sliders-zapatillas
.zapatillasSlider img{
    width: 100%;
    height: max-content;
}
.zapatillasSliderMob img{
    width: 100%;
    text-align: center;
    display: none;
}
.zapatillas{
    h4{
    padding: 20px 20px;
    text-align: center;
    color: $colorH;
    text-transform: uppercase;
    }
    .zapatillasGaleria{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap: 10px;
        img{
            border-radius: 15px;
            width: 100%;
        }
        h3{
            padding-top: 20px;
            color:$colorH;
            font-size: 15px; 
        }
        p{
            font-size: 13px;
            color: $colorP;
        }
        .zapatillasGaleria__img{
            text-align: center;
            border-radius: 10px;
            padding: 5px;
            img:hover{
               opacity: .5;
               transition: .5s;
               cursor: pointer;
            }
        }
    }
}



@media (max-width:858px) {
    .zapatillasGaleria{
    grid-template-columns:repeat(1, 2fr);
        h3{
            font-size: 20px;
        }
        p{
            font-size: 18px;
        }
    }
    .zapatillasSlider{
        display: none;
    }
    .zapatillasSliderMob img{
        padding: 1px 0;
        display: block;
    }
}
